target/META-INF/mule-src/gettravellerinfo/src/main/mule/pnrInfo.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="pnrInfo-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${travellerConfig.tport}" />
    </http:listener-config>
    <apikit:config name="pnrInfo-config" api="resource::5e660340-f0ee-408c-b5c5-37caae5bb9fc:apispec:1.0.7:raml:zip:pnrInfo.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration doc:name="Configuration" doc:id="57799367-efdf-4418-a01a-df9703007e08" defaultErrorHandler-ref="globalErrorHandlerError_Handler" />
    <flow name="pnrInfo-main">
        <http:listener config-ref="pnrInfo-httpListenerConfig" path="${travellerConfig.tpath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="pnrInfo-config" />
        <error-handler ref="globalErrorHandlerError_Handler" doc:id="32dc054f-c877-4b30-952a-300f8fae7b79" />
    </flow>
    <flow name="get:\travelers:pnrInfo-config">
        <flow-ref doc:name="Flow Reference" doc:id="4044bdc1-95a7-4bc0-a63d-71111b8f17fa" name="getConfigFlow" />
    </flow>
    <flow name="post:\travelers:application\json:pnrInfo-config">
		<flow-ref doc:name="Flow Reference" doc:id="d1d7fa57-d615-4944-9a87-c98dc8e32509" name="getConfigFlow1"/>
    </flow>
</mule>
